body{
	font-size: 1.3em;

}
.container-fluid {
	background-image: url(../images/image.png);
	background-repeat: no-repeat;
	height: 500px;
	background-size: cover;
}

.container-orange {
	width: 30%;
	height: 100px;
	color: white;

}
.container-text {
	margin-top: 200px;
	text-align: center;
}

.btn-primary {
	font-size: 1em;
	height: 50px;
	width: 200px;
}
.btn-primary a {
	color: white;
}

.container-blue {
	background-color: rgb(60,132,223);
	color:white;
	text-align: center;
	height: 350px;
}
.ok {
	color: white;
	font-size: 80px;
	margin-top: 70px;
	
}

